{% extends 'templates/layouts/base.html' %}

{% block title %}Mentions{% endblock %}

{% block content %}
    </br>
    <div class="container">
        <h3>Personne morale :</h3>
        <div class="mail-info">Remy et Colette Tatou :
            <a href="mailto:hello@spiritapp.com">ratatouille@purbeurre.com</a>
        </div>
        </br>

        <h3>Auteur du site :</h3>
        <p>Debruyne Thibault : <a href="https://github.com/RiwsPy/OC_P8" target="blank">GitHub</a></p>
        </br>

        <h3>Hébergeur :</h3>
        <p><a href="https://www.heroku.com/" target="blank">Heroku</a></p>
        </br>

        <h3>Ressources utilisées :</h3>
        <h4>Charte graphique :</h4>
        <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide" title="Charte Graphique" target="blank">Charte graphique Pur Beurre</a></p>
        </br>

        <h4>Template :</h4>
        <p>Bootstrap : <a href="https://startbootstrap.com/themes/creative/" title="template"
        target="blank">Startbootstrap-creative</a></p>
        </br>

        <h4>Images et icônes :</h4>
        <p>Olenka Kotyk : <a href="https://unsplash.com/photos/eqsEZNCm4-c" title="BG image 1" target="blank">header</a></p>
        <p>Greg Jeanneau : <a href="https://unsplash.com/photos/YTbFHT9_IhY" title="BG image 1" target="blank">content</a></p>
        <p>Fabien Jouin : <a href="https://thenounproject.com/term/carrot/29691/" title="Carot" target="blank">carotte</a></p>
        <p>Awesome font : <a href="https://fontawesome.com/" title="Other button" target="blank">autre bouton de la barre de navigation</a></p>
    </div>
{% endblock %}

