{% extends 'templates/layouts/base.html' %}

{% load static %}
{% block title %}Accueil{% endblock %}

{% block content %}
  <h1 class="color-biscuit">Du gras oui, mais de qualité !</h1>
  <h2 class="color-caramel">Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</h2>
  <hr class="divider"/>
  {% include 'search_form.html' %}
{% endblock %}

{% block after_content %}

  <!-- Team Section Start -->
  <div id="portfolio">
    <h2 class="text-center">Colette et Remy</h2>
    <p class="text-muted mb-5 text-center">
        Nous sommes une jeune startup fondée par Remy et Colette Tatou, deux restaurateurs de renom. Notre restaurant, situé à Montmartre (Paris), compte une cinquantaine de couverts et ne désemplit pas. Notre spécialité, la ratatouille, nous attire une clientèle internationale charmée par les délices de ce plat typique.
    </p>
    <p class="text-muted mb-5 text-center">
        Amoureux de la gastronomie française, nous travaillons quotidiennement avec les meilleurs produits du terroir. Pourtant il est parfois bien difficile de trouver une alternative saine aux produits que nous consommons tous les jours.
    </p>
    <p class="text-muted mb-5 text-center">
        C'est ainsi que cette germa l'idée de PurBeurre : trouvez des substituts sains en un clic !
    </p>
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-md-6 col-xs-12">
                <a class="portfolio-box" href="{% static 'img/team/colette.jpg' %}" title="Colette">
                    <img class="img-fluid" src="{% static 'img/team/colette.jpg' %}" alt="Colette picture" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Colette</div>
                        <div class="project-name">Ecosseuse de petit pois émérite</div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-xs-12">
                <a class="portfolio-box" href="{% static 'img/team/remy.jpg' %}" title="Remy">
                    <img class="img-fluid" src="{% static 'img/team/remy.jpg' %}" alt="Remy picture" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Remy</div>
                        <div class="project-name">Champion de tango-carotte</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
  </div>
  <!-- Team Section End -->

  <!-- Contact -->
  <section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Contactez-nous !</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">Envie de nous rencontrer, de papoter autour d'un bon plat chaud ? Voici nos coordonnées !</p>
            </div>
        </div>

        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-4 text-center mb-5 mb-lg-0">
                <i class="bi bi-mailbox fs-2 mb-3 text-muted"></i>
                <div class="mail-info">
                    <a href="mailto:hello@spiritapp.com">ratatouille@purbeurre.com</a>
                </div>
            </div>

            <div class="col-lg-4 text-center mb-5 mb-lg-0">
                <i class="bi bi-phone fs-2 mb-3 text-muted"></i>
                <div class="tel-info">
                    <a href="tel:0123456789">01 23 45 67 89</a>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- Contact End -->
{% endblock %}
