<div class="product_presentation">
    <div class="overlay">
        {% if product_id %} <!-- Details menu -->
            <a class="text-content"
                href="/catalogue/{{ product.code }}/"
                title="{{ product.product_name }}">
        {% elif in_favorite_menu %} <!-- Favorite menu 1 -->
            <a class="text-content"
                href="/user/favorite/?user_search={{ product.code }}"
                title="{{ product.product_name }}">
        {% else %} <!-- Multiple choice menu -->
            <a class="text-content"
                href="/catalogue/?user_search={{ product.code }}"
                title="{{ product.product_name }}">
        {% endif %}
            <img src="{{ product.picture_url }}"
                alt="{{ product.product_name }}"
                width="100" height="100"/>
            <div class="text-rightup font-circle back-color-{{ product.nutrition_grades|upper }}">
                {{ product.nutrition_grades|upper }}
            </div>
            </a>
    </div>

    <p class="product_name">{{ product.product_name }}</p>

    {% if display_save_button %}
        <form method="POST" action="{% url 'save' %}" accept-charset="utf8">
            {% csrf_token %}
            <input type="hidden" name="substitute_id" value="{{ product.code }}">
            <input type="hidden" name="product_search_id" value="{{ product_id.code }}">
            {% if product.display_save %}
                <button id="save_button" type="submit" class="icon save_button">
                    <i class="fa fa-save"></i> Sauvegarder
                </button>
            {% else %}
                <button id="delete_button" type="submit" class="icon save_button">
                    <i class="fa fa-trash"></i> Supprimer
                </button>
            {% endif %}
        </form>
    {% endif %}
</div>
