{% extends 'PurBeurre/templates/layouts/base.html' %}

{% block title %}Mes aliments{% endblock %}

{% block header %}
    {% include 'PurBeurre/templates/layouts/header.html' %}
{% endblock %}

{% block content %}
    <ol>
        {% for product, query_set in db.items %}
            <li><a href="/catalogue/favorite/result/?user_search={{ product.code }}">{{ product }} :</a>
                <ul>
                {% for substitute in query_set %}
                    <li>{{ substitute.substitute.product_name }}</li>
                {% endfor %}
                </ul>
            </li>
                
        {% empty %}
            Aucun produit n'a encore été sauvegardé
        {% endfor %}
    </ol>
{% endblock %}
